<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Multi User Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Multi User Blog
  </a>

	
{% if user %}
	<a id="newPost" href="/blog/newpost">Create new post</a><br/><br/><br/><br/>
	
{% else %}
	
	<h3 class="error">Please login to create new posts.</h3>
	
{% endif %}
	
	
	<div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>



</body>

</html>

