{% extends "base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input style="width:200px; height:20px;" type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input style="width:200px;height:20px;" type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <input type="submit" value="Login">
    </form>
<br><br>
<a href="/">Back</a>
  
{% endblock %}

	  

